## Automatically set message id
#set($id = $util.autoId())

## Automatically set the createdAt timestamp
#set($createdAt = $util.time.nowISO8601())
$util.qr($ctx.args.input.put("createdAt", $createdAt))

## Automatically set the user's username on owner field
$util.qr($ctx.args.input.put("owner", $ctx.identity.username))

{
    "version": "2018-05-29",
    "operation": "PutItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($id)
    },
    "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input)
}