$util.qr($ctx.args.input.put("id", $util.defaultIfNull($ctx.args.input.id, $util.autoId())))
{
    "version": "2018-05-29",
    "operation": "PutItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
    },
    "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
    "condition": $util.toJson($condition)
}