#set($limit = $util.defaultIfNull($ctx.args.limit, 10))
#set($ListRequest = {
"version": "2018-05-29",
"limit": $limit
})
#if($ctx.args.nextToken)
    #set($ListRequest.nextToken = $ctx.args.nextToken)
#end
$util.qr($ListRequest.put("operation", "Scan"))
$util.toJson($ListRequest)